 /* Reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    
  }

  /* Font */

h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  :root {
    --primary-color: #030328;
    --secondary-color: #320940;
    --tertiary-color: #c7c7c726;
    --quartenary-color: #9a32bd;
    --fifth-color: #4646cc;
  }
  
  body {
    background: linear-gradient(
      180deg,
      var(--primary-color),
      var(--secondary-color) 40% 60%,
      var(--primary-color)
    );
    color: #ffffff;
    height: 100vh;
  }

  /* Nav */
  
  header {
    background-color: var(--tertiary-color);
    height: 7vh;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input[type="search"] {
    padding: 5px;
    border: 2px solid #ddd;
    font-size: 16px;
    width: 60%;
  }

  input[type="search"]:focus{
    border-color: var(--quartenary-color);
    outline: none;
  }

  img {
    width: 7vw;
    height: 5vh;
    border-radius: 50%;
  }

  aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-right: #ffffff solid 1px;
  }

  aside a{
    color: #ffffff;
    margin: 30% auto 20% auto;
  }

  aside img{
    margin: 10% auto 10% auto;
    width: 70%;
    height: 20%;
  }